<a href="https://colab.research.google.com/github/Satyake/Getting-Started-with-TF2/blob/main/Tf_data_functions_and_usages_on_various_types_of_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import numpy as np 
import os 
import tensorflow as tf

In [15]:
x=np.zeros((100,10,2,2))

In [16]:
dataset1=tf.data.Dataset.from_tensor_slices(x)

In [17]:
dataset1.element_spec.shape

TensorShape([10, 2, 2])

In [18]:
x2=[np.zeros([10,2,2]),np.zeros((5,2,2))]

In [19]:
dataset2=tf.data.Dataset.from_tensor_slices(x2)

ValueError: ignored

In [20]:
x2=[np.zeros((10,1)),np.zeros((10,1)),np.zeros((10,1))]

In [21]:
x2

[array([[0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.]]), array([[0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.]]), array([[0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.]])]

In [22]:
dataset2=tf.data.Dataset.from_tensor_slices(x2)

In [23]:
print(dataset2.element_spec)

TensorSpec(shape=(10, 1), dtype=tf.float64, name=None)

In [24]:
#create a zipped dataset
dataset_zipped=tf.data.Dataset.zip((dataset1,dataset2))

In [25]:
print(dataset_zipped.element_spec)

(TensorSpec(shape=(10, 2, 2), dtype=tf.float64, name=None), TensorSpec(shape=(10, 1), dtype=tf.float64, name=None))

In [26]:
(train_features,train_labels),(test_features,test_labels)=tf.keras.datasets.mnist.load_data()

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11493376/11490434 [==============================] - 0s 0us/step
11501568/11490434 [==============================] - 0s 0us/step

In [27]:
print(type(train_features),type(train_labels))

<class 'numpy.ndarray'> <class 'numpy.ndarray'>

In [28]:
mnist_dataset_tensor=tf.data.Dataset.from_tensor_slices((train_features,train_labels))

In [30]:
print(mnist_dataset_tensor.element_spec)

(TensorSpec(shape=(28, 28), dtype=tf.uint8, name=None), TensorSpec(shape=(), dtype=tf.uint8, name=None))

In [32]:
element=next(iter(mnist_dataset_tensor.take(1)))
print(len(element))

2

In [33]:
!unzip '/content/shakespeare-20220120T192608Z-001.zip'

Archive:  /content/shakespeare-20220120T192608Z-001.zip
  inflating: shakespeare/tempest.2.1.txt
  inflating: shakespeare/tempest.3.3.txt
  inflating: shakespeare/tempest.3.2.txt
  inflating: shakespeare/tempest.1.2.txt
  inflating: shakespeare/tempest.5.1.txt
  inflating: shakespeare/tempest.3.1.txt
  inflating: shakespeare/tempest.2.2.txt
  inflating: shakespeare/tempest.4.1.txt
  inflating: shakespeare/tempest.1.1.txt

In [34]:
with open ('/content/shakespeare/tempest.1.1.txt') as f:
   z=f.readlines()
print(z)

['SCENE I. On a ship at sea: a tempestuous noise\n', 'of thunder and lightning heard.\n', 'Enter a Master and a Boatswain\n', '\n', 'Master\n', 'Boatswain!\n', 'Boatswain\n', 'Here, master: what cheer?\n', 'Master\n', "Good, speak to the mariners: fall to't, yarely,\n", 'or we run ourselves aground: bestir, bestir.\n', 'Exit\n', '\n', 'Enter Mariners\n', '\n', 'Boatswain\n', 'Heigh, my hearts! cheerly, cheerly, my hearts!\n', 'yare, yare! Take in the topsail. Tend to the\n', "master's whistle. Blow, till thou burst thy wind,\n", 'if room enough!\n', 'Enter ALONSO, SEBASTIAN, ANTONIO, FERDINAND, GONZALO, and others\n', '\n', 'ALONSO\n', "Good boatswain, have care. Where's the master?\n", 'Play the men.\n', 'Boatswain\n', 'I pray now, keep below.\n', 'ANTONIO\n', 'Where is the master, boatswain?\n', 'Boatswain\n', 'Do you not hear him? You mar our labour: keep your\n', 'cabins: you do assist the storm.\n', 'GONZALO\n', 'Nay, good, be patient.\n', 'Boatswain\n', 'When the sea is. Hence! What cares these roarers\n', 'for the name of king? To cabin: silence! trouble us not.\n', 'GONZALO\n', 'Good, yet remember whom thou hast aboard.\n', 'Boatswain\n', 'None that I more love than myself. You are a\n', 'counsellor; if you can command these elements to\n', 'silence, and work the peace of the present, we will\n', 'not hand a rope more; use your authority: if you\n', 'cannot, give thanks you have lived so long, and make\n', 'yourself ready in your cabin for the mischance of\n', 'the hour, if it so hap. Cheerly, good hearts! Out\n', 'of our way, I say.\n', 'Exit\n', '\n', 'GONZALO\n', 'I have great comfort from this fellow: methinks he\n', 'hath no drowning mark upon him; his complexion is\n', 'perfect gallows. Stand fast, good Fate, to his\n', 'hanging: make the rope of his destiny our cable,\n', 'for our own doth little advantage. If he be not\n', 'born to be hanged, our case is miserable.\n', 'Exeunt\n', '\n', 'Re-enter Boatswain\n', '\n', 'Boatswain\n', 'Down with the topmast! yare! lower, lower! Bring\n', 'her to try with main-course.\n', 'A cry within\n', '\n', 'A plague upon this howling! they are louder than\n', 'the weather or our office.\n', 'Re-enter SEBASTIAN, ANTONIO, and GONZALO\n', '\n', "Yet again! what do you here? Shall we give o'er\n", 'and drown? Have you a mind to sink?\n', 'SEBASTIAN\n', "A pox o' your throat, you bawling, blasphemous,\n", 'incharitable dog!\n', 'Boatswain\n', 'Work you then.\n', 'ANTONIO\n', 'Hang, cur! hang, you whoreson, insolent noisemaker!\n', 'We are less afraid to be drowned than thou art.\n', 'GONZALO\n', "I'll warrant him for drowning; though the ship were\n", 'no stronger than a nutshell and as leaky as an\n', 'unstanched wench.\n', 'Boatswain\n', 'Lay her a-hold, a-hold! set her two courses off to\n', 'sea again; lay her off.\n', 'Enter Mariners wet\n', '\n', 'Mariners\n', 'All lost! to prayers, to prayers! all lost!\n', 'Boatswain\n', 'What, must our mouths be cold?\n', 'GONZALO\n', "The king and prince at prayers! let's assist them,\n", 'For our case is as theirs.\n', 'SEBASTIAN\n', "I'm out of patience.\n", 'ANTONIO\n', 'We are merely cheated of our lives by drunkards:\n', "This wide-chapp'd rascal--would thou mightst lie drowning\n", 'The washing of ten tides!\n', 'GONZALO\n', "He'll be hang'd yet,\n", 'Though every drop of water swear against it\n', 'And gape at widest to glut him.\n', "A confused noise within: 'Mercy on us!'-- 'We split, we split!'--'Farewell, my wife and children!'-- 'Farewell, brother!'--'We split, we split, we split!'\n", '\n', 'ANTONIO\n', "Let's all sink with the king.\n", 'SEBASTIAN\n', "Let's take leave of him.\n", 'Exeunt ANTONIO and SEBASTIAN\n', '\n', 'GONZALO\n', 'Now would I give a thousand furlongs of sea for an\n', 'acre of barren ground, long heath, brown furze, any\n', 'thing. The wills above be done! but I would fain\n', 'die a dry death.\n', 'Exeunt\n', '\n']

In [35]:
text_files=sorted([f.path for f in os.scandir('/content/shakespeare')])

In [36]:
text_files

['/content/shakespeare/tempest.1.1.txt',
 '/content/shakespeare/tempest.1.2.txt',
 '/content/shakespeare/tempest.2.1.txt',
 '/content/shakespeare/tempest.2.2.txt',
 '/content/shakespeare/tempest.3.1.txt',
 '/content/shakespeare/tempest.3.2.txt',
 '/content/shakespeare/tempest.3.3.txt',
 '/content/shakespeare/tempest.4.1.txt',
 '/content/shakespeare/tempest.5.1.txt']

In [ ]:

with open ('/content/shakespeare/tempest.1.2.txt') as f:
   z=f.read()
print(z)

In [ ]:
file = open("/content/shakespeare/tempest.1.1.txt", "r")
line_count = 0
for line in file:
    #if line != "\n":
       # line_count += 1
       print(line)
file.close()

#print(line_count)

In [43]:
shakespeare_dataset=tf.data.TextLineDataset(text_files)

In [46]:
shakespeare_dataset.element_spec

TensorSpec(shape=(), dtype=tf.string, name=None)

In [47]:
first_5_lines=iter(shakespeare_dataset.take(5))

In [59]:
for l in first_5_lines:
  print(l)

In [ ]:
#Interleave lines from the text data files

In [57]:
text_files_dataset=tf.data.Dataset.from_tensor_slices(text_files)

In [58]:
interleaved_shakespeare_dataset=text_files_dataset.interleave(tf.data.TextLineDataset,cycle_length=9)

In [1]:
!unzip '/content/bank.zip'

Archive:  /content/bank.zip
  inflating: bank-full.csv
  inflating: bank-names.txt
  inflating: bank.csv

In [39]:
import pandas as pd
bank_dataframe=pd.read_csv('/content/bank-full.csv',delimiter=';')

In [40]:
bank_dataframe.head(5)

   age           job  marital  education  ... pdays  previous poutcome   y
0   58    management  married   tertiary  ...    -1         0  unknown  no
1   44    technician   single  secondary  ...    -1         0  unknown  no
2   33  entrepreneur  married  secondary  ...    -1         0  unknown  no
3   47   blue-collar  married    unknown  ...    -1         0  unknown  no
4   33       unknown   single    unknown  ...    -1         0  unknown  no

[5 rows x 17 columns]

In [41]:
bank_dataframe['marital']=='divorced'

0        False
1        False
2        False
3        False
4        False
         ...
45206    False
45207     True
45208    False
45209    False
45210    False
Name: marital, Length: 45211, dtype: bool

In [42]:
from sklearn.preprocessing import LabelBinarizer,MultiLabelBinarizer

In [43]:

encoder=LabelBinarizer()
categorical_features=['default','housing','job','loan','education','contact','poutcome']
for features in categorical_features:
  bank_dataframe[features]=tuple(encoder.fit_transform(bank_dataframe[features]))

In [44]:
bank_dataframe.head()

   age                                   job  ...      poutcome   y
0   58  (0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0)  ...  (0, 0, 0, 1)  no
1   44  (0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0)  ...  (0, 0, 0, 1)  no
2   33  (0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0)  ...  (0, 0, 0, 1)  no
3   47  (0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)  ...  (0, 0, 0, 1)  no
4   33  (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1)  ...  (0, 0, 0, 1)  no

[5 rows x 17 columns]

In [45]:
#convert dataframe to dataset object

bank_dataset=tf.data.Dataset.from_tensor_slices(bank_dataframe.to_dict(orient='list'))

In [46]:
bank_dataset.element_spec

{'age': TensorSpec(shape=(), dtype=tf.int32, name=None),
 'balance': TensorSpec(shape=(), dtype=tf.int32, name=None),
 'campaign': TensorSpec(shape=(), dtype=tf.int32, name=None),
 'contact': TensorSpec(shape=(3,), dtype=tf.int32, name=None),
 'day': TensorSpec(shape=(), dtype=tf.int32, name=None),
 'default': TensorSpec(shape=(1,), dtype=tf.int32, name=None),
 'duration': TensorSpec(shape=(), dtype=tf.int32, name=None),
 'education': TensorSpec(shape=(4,), dtype=tf.int32, name=None),
 'housing': TensorSpec(shape=(1,), dtype=tf.int32, name=None),
 'job': TensorSpec(shape=(12,), dtype=tf.int32, name=None),
 'loan': TensorSpec(shape=(1,), dtype=tf.int32, name=None),
 'marital': TensorSpec(shape=(), dtype=tf.string, name=None),
 'month': TensorSpec(shape=(), dtype=tf.string, name=None),
 'pdays': TensorSpec(shape=(), dtype=tf.int32, name=None),
 'poutcome': TensorSpec(shape=(4,), dtype=tf.int32, name=None),
 'previous': TensorSpec(shape=(), dtype=tf.int32, name=None),
 'y': TensorSpec(shape=(), dtype=tf.string, name=None)}

In [47]:
#filter the dataset
def check_divorced():
   bank_dataset_iterable=iter(bank_dataset)
   for x in bank_dataset_iterable:
     if x['marital']!='divorced':
       print('found a person with marital status {}'.format(x['marital']))
       return 
   print('no non divorced people were found')
check_divorced()

found a person with marital status b'married'

In [48]:
bank_dataset=bank_dataset.filter(lambda x : tf.equal(x['marital'],tf.constant([b'divorced'])[0]))

In [49]:
check_divorced()

no non divorced people were found

In [50]:
def map_label(x):
  x['y']=0 if x['y']==tf.constant([b'no'],dtype=tf.string) else 1
  return x

In [51]:
bank_dataset=bank_dataset.map(map_label)

In [52]:
bank_dataset.element_spec

{'age': TensorSpec(shape=(), dtype=tf.int32, name=None),
 'balance': TensorSpec(shape=(), dtype=tf.int32, name=None),
 'campaign': TensorSpec(shape=(), dtype=tf.int32, name=None),
 'contact': TensorSpec(shape=(3,), dtype=tf.int32, name=None),
 'day': TensorSpec(shape=(), dtype=tf.int32, name=None),
 'default': TensorSpec(shape=(1,), dtype=tf.int32, name=None),
 'duration': TensorSpec(shape=(), dtype=tf.int32, name=None),
 'education': TensorSpec(shape=(4,), dtype=tf.int32, name=None),
 'housing': TensorSpec(shape=(1,), dtype=tf.int32, name=None),
 'job': TensorSpec(shape=(12,), dtype=tf.int32, name=None),
 'loan': TensorSpec(shape=(1,), dtype=tf.int32, name=None),
 'marital': TensorSpec(shape=(), dtype=tf.string, name=None),
 'month': TensorSpec(shape=(), dtype=tf.string, name=None),
 'pdays': TensorSpec(shape=(), dtype=tf.int32, name=None),
 'poutcome': TensorSpec(shape=(4,), dtype=tf.int32, name=None),
 'previous': TensorSpec(shape=(), dtype=tf.int32, name=None),
 'y': TensorSpec(shape=(), dtype=tf.int32, name=None)}

In [53]:
#create input ouput data tuples

def map_feature_label(x):
  features=[[x['age']],[x['balance']],[x['campaign']],x['contact'],x['default'],x['education'],x['housing'],x['job'],x['loan'],[x['pdays']],x['poutcome']]
  return (tf.concat(features,axis=0),x['y'])

In [54]:
bank_dataset=bank_dataset.map(map_feature_label)

In [55]:
bank_dataset.element_spec

(TensorSpec(shape=(30,), dtype=tf.int32, name=None),
 TensorSpec(shape=(), dtype=tf.int32, name=None))

In [56]:
#split into training and validation set
dataset_length=0
for _ in bank_dataset:
  dataset_length+=1
  #print(_)
print(dataset_length)

5207

In [57]:
#take and skip options

training_elements=int(dataset_length*0.7)
train_dataset=bank_dataset.take(training_elements)
validation_dataset=bank_dataset.skip(training_elements)

In [58]:
validation_dataset.element_spec

(TensorSpec(shape=(30,), dtype=tf.int32, name=None),
 TensorSpec(shape=(), dtype=tf.int32, name=None))

In [59]:
import tensorflow
from tensorflow.keras.layers import Dense,Concatenate,BatchNormalization,Input
from keras.models import Sequential
model=Sequential()
model.add(Input(shape=(30,)))
model.add(BatchNormalization())
model.add(Dense(400,activation='relu'))
model.add(Dense(1,activation='sigmoid'))
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [60]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 batch_normalization_1 (Batc  (None, 30)               120
 hNormalization)

 dense_2 (Dense)             (None, 400)               12400

 dense_3 (Dense)             (None, 1)                 401

=================================================================
Total params: 12,921
Trainable params: 12,861
Non-trainable params: 60
_________________________________________________________________

In [61]:
train_dataset=train_dataset.batch(20,drop_remainder=True)
validation_dataset=validation_dataset.batch(100)
train_dataset=train_dataset.shuffle(1000)

In [62]:
history=model.fit(train_dataset,validation_data=validation_dataset,epochs=5)

Epoch 1/5
182/182 [==============================] - 6s 18ms/step - loss: 0.2806 - accuracy: 0.9220 - val_loss: 0.9396 - val_accuracy: 0.7569
Epoch 2/5
182/182 [==============================] - 4s 16ms/step - loss: 0.2439 - accuracy: 0.9335 - val_loss: 0.9616 - val_accuracy: 0.7569
Epoch 3/5
182/182 [==============================] - 5s 16ms/step - loss: 0.2381 - accuracy: 0.9335 - val_loss: 1.0149 - val_accuracy: 0.7569
Epoch 4/5
182/182 [==============================] - 5s 16ms/step - loss: 0.2357 - accuracy: 0.9335 - val_loss: 1.2177 - val_accuracy: 0.7569
Epoch 5/5
182/182 [==============================] - 4s 16ms/step - loss: 0.2311 - accuracy: 0.9335 - val_loss: 1.1541 - val_accuracy: 0.7569